<div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
                 <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <!-- Product item -->
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{dish.image}}
                         alt="main dish">
                            </a>
                    </div>
                    <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                     <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
                <!-- End -->
            </div>
            
            <div class="col-xs-9 col-xs-offset-1">
                <h4>Customer Comments <span style="color:#cccccc; font-size: 12px;">Sort by: </span><input ng-model="query"></h4>
                
                <!-- Comments Section -->
                <blockquote ng-repeat="feedback in dish.comments | orderBy: query : reverse">
                    <p>{{feedback.rating}} Stars</p>
                    <p>{{feedback.comment}}</p>
                    <footer>{{feedback.author}}, {{feedback.date | date}}</footer>
                </blockquote>
                <!-- End -->
            </div>
            
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                 
                        <ul class="list-unstyled">
                            <blockquote ng-show="commentForm.$valid && !commentForm.$pristine">
                            <li><h4>Current Feedback</h4></li>
                            <li>{{dishcomment.rating}} Stars</li>
                            <li>{{dishcomment.comment}}</li>
                            <li><footer>{{dishcomment.author}} {{dishcomment.date | date : format}}</footer></li>
                                </blockquote>
                        </ul>
                
            
                <form class="form-horizontal" role="form" name="commentForm"
                		ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{'has-error' : commentForm.author.$error.required && !commentForm.author.$pristine }">
                    <label for="author" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter your name" ng-model="dishcomment.author"  required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" ng-class="help-block">Your name is required</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                    <label for="rating" class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="dishcomment.rating" ng-value="1">1</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="dishcomment.rating" ng-value="2">2</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="dishcomment.rating" ng-value="3">3</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="dishcomment.rating" ng-value="4">4</label>
                        <label class="radio-inline"><input type="radio" name="rating" ng-model="dishcomment.rating" ng-value="5">5</label>
                    </div>
                    </div>
                    
                    
                    <div class="form-group" ng-class="{'has-error':commentForm.comment.$error.required && !commentForm.comment.$pristine}">
                    <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12" ng-model="dishcomment.comment"  required></textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" ng-class="help-block">Your comments are required</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>